body{
    font: 12px/18px "Gilroy", "Arial", "Helvetica", sans-serif;
}

.common__body{
    font-family: "Gilroy", "Arial", "Helvetica", sans-serif;
}


.container{
    width: 1200px;
    margin: 0 auto;
}

.btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    
    height: 58px;
    box-sizing: border-box;
}

.btn-orange{
    position: relative;
    z-index: 2;

    font-weight: 600;
    font-size: 18px;
    line-height: 1.166666666666667;
    text-decoration: none;
    letter-spacing: 0.02em;
    color: #FFFFFF !important;
    background: #F08421;
    transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1.0) 0s;
    padding-left: 2em;
    padding-right: 2em;
    border-radius: 5px;
    
    &:hover{
        opacity: 0.7;
    }
}








.page-bankruptcy-h2 {
    font-weight: 500;
    font-size: 45px;
    line-height: 1.177777777777778;
    color: #131313;
    margin-bottom: 0.7555555555555556em;
}

.page-bankruptcy-first {
    background:
        url(../images/first-rf.png) no-repeat right center,
        url(../images/first-bg.jpg) no-repeat center center;
    padding-top: 116px;
    padding-bottom: 64px;
    margin-bottom: 152px;
}
.page-bankruptcy-first .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    
}
.page-bankruptcy-first-left {
    // margin-right: 63px;
		&__title {
            font-weight: bold;
            font-size: 60px;
            line-height: 1.216666666666667;
            color: #006680;
            margin-bottom: 0.6166666666666667em;
		}

		&__description {
            font-size: 30px;
            line-height: 1.166666666666667;
            color: #131313;
            margin-bottom: 2.633333333333333em;
		}

		&__button {
		}
}
.page-bankruptcy-first-right {

		&__ava {
            // width: 469px;
            margin-right: -60px;
            img{
                width: 100%;
            }
		}
}
.page-bankruptcy-profit {
    margin-bottom: 180px;
		&__description {
            font-weight: 500;
            font-size: 30px;
            line-height: 1.166666666666667;
            color: #7C7C7C;
            margin-bottom: 56px;
		}
}

.page-bankruptcy-profit-list {
    display: flex;
    // align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.page-bankruptcy-profit-list-item {
    width: calc(100% / 5 - 26px * 2 / 3);
    background: #FFFFFF;
    box-shadow: 0px 4px 39px rgba(0, 0, 0, 0.13);
    border-radius: 5px;
    padding-bottom: 21px;
    position: relative;
    margin-bottom: 141px;
    
    &::after{
        content: ' ';
        display: block;
        width: 100%;
        height: 82px;
        background: url(../images/profit-list-item-corner.png) no-repeat center top;
        background-size: 100% 100%;
        position: absolute;
        left: 0;
        bottom: -75px;
    }
		&__ava {
            position: absolute;
            width: 100%;
            top: -20px;
            left: 0;
            // height: 109px;
            // padding-top: 36px;
            box-sizing: border-box;
            img{
                margin-left: auto;
                margin-right: auto;
            }

            .page-bankruptcy-profit-list-item_1 & {
                margin-top: -41px;
            }

            .page-bankruptcy-profit-list-item_2 & {
                margin-top: -20px;
            }

            .page-bankruptcy-profit-list-item_3 & {
                margin-top: -38px;
            }

            .page-bankruptcy-profit-list-item_4 & {
                margin-top: -27px;
            }

            .page-bankruptcy-profit-list-item_5 & {
                margin-top: -34px;
            }
		}

		&__title {
            margin-top: 111px;

            font-weight: 500;
            font-size: 20px;
            line-height: 1.2;
            text-align: center;
            color: #006680;
            margin-bottom: 7px;

            .page-bankruptcy-profit-list-item_1 &{
                // font-size: 16px;
                font-size: 14.5px;
                line-height: 1.1875;
            }
		}

		&__description {
            font-size: 14px;
            line-height: 1.142857142857143;
            text-align: center;
            color: #7C7C7C;
        }
        
        
}
.page-bankruptcy-profit-button {
    text-align: center;
    // margin-top: 67px;
}
.page-bankruptcy-guarantees {
    margin-bottom: 138px;
}
.page-bankruptcy-guarantees-list{
    display: flex;
    // align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.page-bankruptcy-guarantees-item {
    background: #FFFFFF;
    box-shadow: 0px 4px 39px rgba(0, 0, 0, 0.13);
    border-radius: 5px;
    padding-top: 51px;
    padding-bottom: 51px;
    padding-left: 44px;
    padding-right: 44px;
    box-sizing: border-box;
    width: calc(100% / 2 - 39px * 1 / 2);
    margin-bottom: 42px;

		&__num {
            font-weight: 600;
            font-size: 18px;
            line-height: 1.166666666666667;
            display: flex;
            align-items: center;
            letter-spacing: 0.02em;
            
            color: #F08421;
            margin-bottom: 0.8888888888888889em;
		}

		&__title {
            font-weight: 600;
            font-size: 35px;
            line-height: 1.2;
            color: #006680;
            margin-bottom: 0.4571428571428571em;
		}

		&__description {
            font-size: 24px;
            line-height: 1.166666666666667;
            color: #7C7C7C;
		}
}
.page-bankruptcy-guarantees-item-special {
    // background: url(../images/ico-guarantees.svg) right 33px top 39px no-repeat #006680;
    background: url(../images/ico-guarantees.png) right bottom 18px no-repeat #006680;
        a{
            display: flex;
            justify-content: flex-start;
            height: 100%;
            
            text-decoration: none;
            transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1.0) 0s;
            &:hover{
                opacity: 0.7;
            }
        }

		&__title {
            font-weight: 600;
            font-size: 30px;
            line-height: 1.2;
            display: flex;
            align-items: center;
            letter-spacing: 0.02em;
            color: #FFFFFF;
            img{
                margin-top: 6px;
            }
		}
}
.page-bankruptcy-your-role {
    margin-bottom: 180px;
}
.page-bankruptcy-your-role-content {
    display: flex;
    // align-items: center;
    // justify-content: center;
    flex-wrap: wrap;
}
.page-bankruptcy-your-role-item {
    width: 50%;
    padding-bottom: 66px;
    box-sizing: border-box;
		&_left {
            background: #FFFFFF;
            box-shadow: 0px 4px 39px rgba(0, 0, 0, 0.13);
        }
        
        &_right {
            background: #006680;
            box-shadow: 0px 4px 39px rgba(0, 0, 0, 0.13);
        }

        &__ava{
            margin-top: 25px;
            margin-bottom: 25px;
            margin-left: 49px;
        }

		&__title {
            // padding-top: 304px;
            font-weight: 500;
            font-size: 30px;
            line-height: 1.166666666666667;
            color: #000000;
            // text-align: center;
            margin-bottom: 1.233333333333333em;
            margin-left: 49px;
            .page-bankruptcy-your-role-item_right &{
                color: #FFFFFF;
            }
		}

		&__list {
            margin-left: 49px;
            ul{
                list-style: none;
                li{
                    background: url(../images/bullet-no.svg) no-repeat left center;
                    min-height: 20px;
                    margin-bottom: 26px;
                    padding-left: 34px;
                    box-sizing: border-box;

                    font-size: 20px;
                    line-height: 1.15;
                    color: #7C7C7C;
                    
                    .page-bankruptcy-your-role-item_right &{
                        color: #83E6FF;
                        background: url(../images/bullet-yes.svg) no-repeat left center;
                    }
                }
            }
        }
        

}
.page-bankruptcy-your-role-button {
    margin-top: 67px;
    text-align: center;
}
.page-bankruptcy-form {
    margin-bottom: 147px;
    .container{
        background: url(../images/form-bg.jpg) no-repeat center center;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}
.page-bankruptcy-form-info {
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 70px;
    box-sizing: border-box;
		&__title {
            font-weight: 500;
            font-size: 40px;
            line-height: 1.177777777777778;
            color: #131313;
            margin-bottom: 0.7333333333333333em;
		}

		&__text {
            p{
                font-size: 24px;
                line-height: 1.166666666666667;
                color: #000000;
                margin-bottom: 0.7916666666666667em;
            }
		}
}
.page-bankruptcy-form-inputs {
    background: #FFFFFF;
    box-shadow: 0px 4px 39px rgba(0, 0, 0, 0.13);
    border-radius: 5px;
    margin-right: 78px;

    width: 442px;
    box-sizing: border-box;
    padding-top: 40px;
    padding-bottom: 10px;
    padding-left: 51px;
    padding-right: 57px;
    position: relative;

    margin-top: -40px;

    &::before{
        content: ' ';
        display: block;
        width: 357px;
        height: 362px;
        background: url(../images/form-tel.png) no-repeat center center;
        position: absolute;
        top: -30px;
        left: -328px;
    }

    &::after{
        content: ' ';
        display: block;
        width: 100%;
        height: 134px;
        background: url(../images/form-corner.png) no-repeat center top;
        background-size: 100% 100%;
        position: absolute;
        left: 0;
        bottom: -124px;
    }

		&__title {
            font-weight: 600;
            font-size: 24px;
            line-height: 1.208333333333333;
            text-align: center;
            color: #006680;
            margin-bottom: 1.708333333333333em;
		}

		&__input {
            background: #FFFFFF !important;
            border: 1px solid #BABABA !important;
            border-radius: 5px !important;

            font-weight: 600 !important;
            font-size: 18px !important;
            line-height: 1.166666666666667;
            letter-spacing: 0.02em;

            width: 100%;
            height: 58px;
            padding-left: 28px;
            box-sizing: border-box;
            margin-bottom: 16px;

            &::placeholder{
                font-size: 18px !important;
                color: #C0C0C0;
            }
		}

		&__submit {
            width: 100%;
            box-sizing: border-box;
            margin-top: 10px;
		}

		&__description {
            font-size: 14px;
            line-height: 1.142857142857143;
            text-align: center;
            letter-spacing: 0.02em;
            color: #6D6D6D;
            margin-top: 35px;
		}
}
.page-bankruptcy-aftermath {
    margin-bottom: 179px;
    .container{
        background: url(../images/ico-aftermath.png) no-repeat right 40px bottom 0 #006680;
        box-shadow: 0px 4px 39px rgba(0, 0, 0, 0.13);
        box-sizing: border-box;
        padding-top: 55px;
        padding-bottom: 78px;
        padding-left: 69px;
        padding-right: 69px;
    }
		&__title {
            font-weight: 500;
            font-size: 45px;
            line-height: 1.177777777777778;
            color: #FFFFFF;
            margin-bottom: 0.6em;
		}

		&__text {
            &_l1{
                font-weight: 600;
            }
            font-size: 24px;
            line-height: 1.166666666666667;
            color: #FFFFFF;
            // margin-bottom: 2.958333333333333em;
		}

		&__lasttext {
            font-weight: bold;
            font-size: 30px;
            line-height: 1.166666666666667;
            color: #FFFFFF;
            // text-align: center;
            margin-top: 1.266666666666667em;
            margin-bottom: 1.266666666666667em;
		}

		&__button {
            // text-align: center;
		}
}

.page-bankruptcy-our-team {
    margin-bottom: 103px;
    // margin-left: -40px;
    
    .container {
        position: relative;
        
    }

    .swiper-container{
        margin-left: -33px;
        overflow: visible;
        // width: calc(50% + 190px);
    }

    .swiper-wrapper{
        padding-left: 33px;
    }

    .swiper-slide{
        padding-top: 40px;
        padding-bottom: 60px;
        width: 706px;
    }

    .swiper-nav-custom{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        
        position: absolute;
        top: 0;
        right: 0;
        left: auto;
        margin-top: 20px;
        margin-right: 0px;

        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 0.02em;

        color: #B2B2B2;
    }

    .swiper-button-prev{
        margin-top: 0;
        width: 31px;
        height: 23px;
        background: url(../images/slider-arrow-left.svg) no-repeat center center;

        position: relative;
        left: auto;
        // z-index: 5;
        &::after{
            content: ' ';
        }
    }

    .swiper-button-next{
        margin-top: 0;
        width: 31px;
        height: 23px;
        background: url(../images/slider-arrow-right.svg) no-repeat center center;

        position: relative;
        right: auto;
        // z-index: 5;
        &::after{
            content: ' ';
        }
    }
}
.page-bankruptcy-our-team-list {
    display: flex;
    // align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    // overflow-x: scroll;
}
.page-bankruptcy-our-team-item {
    background: #FFFFFF;
    box-shadow: 0px 4px 39px rgba(0, 0, 0, 0.13);
    margin-right: 23px;
    padding-top: 33px;
    padding-bottom: 29px;
    padding-left: 26px;
    padding-right: 26px;
    box-sizing: border-box;

    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: nowrap;
    
    width: 706px;
}
.page-bankruptcy-our-team-item-ava {
    min-width: 212px;
    margin-right: 31px;
    img{
        // width: 100%;
        height: 212px;
        object-fit: cover;
    }
}
.page-bankruptcy-our-team-item-info {
    min-width: 376px;
		&__name {
            font-weight: 600;
            font-size: 24px;
            line-height: 1.208333333333333;
            color: #131313;
            margin-bottom: 0.1666666666666667em;
		}

		&__position {
            font-size: 18px;
            line-height: 1.166666666666667;
            color: #717171;
            margin-bottom: 1.722222222222222em;
		}

		&__text {
            font-size: 18px;
            line-height: 1.166666666666667;
            color: #131313;

            padding-top: 33px;
            background: url(../images/quotes.svg) no-repeat left top;
		}
}


.page-bankruptcy-results-of-work {
    background: url(../images/results-of-work-bg.jpg) no-repeat center center;
    background-size: auto 100%;
    padding-top: 98px;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}


.page-bankruptcy-results-of-work-docs-slider{
    width: 100%;
    position: relative;
    margin-bottom: 88px;

    a{
        display: block;

        .page-bankruptcy-results-of-work-docs-slider-image::before{
            content: ' ';
            display: block;
            background: url(../images/ico-loupe.svg) no-repeat center center rgba(0, 0, 0, 0.39);;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 5;
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1.0) 0s;
        }
        &:hover .page-bankruptcy-results-of-work-docs-slider-image::before{
            opacity: 1;
        }
    }
    &-image{
        position: relative;
        img{
            width: 100%;
        }
    }
    &-title{
        font-weight: 600;
        font-size: 22px;
        line-height: 1.181818181818182;
        text-align: left;
        color: #FFFFFF;
        margin-top: 0.7272727272727273em;
    }

    .swiper-button-prev{
        box-sizing: border-box;
        margin-top: -16px;
        margin-left: -51px;
        width: 31px;
        min-width: 31px;
        height: 23px;
        background: url(../images/slider-arrow-left.svg) no-repeat center center;
        &::after{
            content: ' ';
        }
    }
    
    .swiper-button-next{
        box-sizing: border-box;
        margin-top: -16px;
        margin-right: -51px;
        width: 31px;
        min-width: 31px;
        height: 23px;
        background: url(../images/slider-arrow-right.svg) no-repeat center center;

        // position: relative;
        // right: auto;
        // z-index: 5;
        &::after{
            content: ' ';
        }
    }
}








.page-bankruptcy-results-of-work-list {
    display: flex;
    // align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    min-width: 710px;
}
.page-bankruptcy-results-of-work-list-item {
    width: calc(100% / 3 - 26px * 2 / 3);
    // background: #FFFFFF;
    background: #064B5D;
    box-shadow: 0px 4px 39px rgba(0, 0, 0, 0.13);
    border-radius: 5px;
    padding-bottom: 21px;
    position: relative;
    margin-bottom: 141px;
    padding-top: 20px;

    &::after{
        content: ' ';
        display: block;
        width: 100%;
        height: 82px;
        // background: url(../images/profit-list-item-corner.png) no-repeat center top;
        background: url(../images/results-of-work-list-item-corner.png) no-repeat center top;
        background-size: 100% 100%;
        position: absolute;
        left: 0;
        bottom: -75px;
    }

		&__title {
            font-weight: bold;
            font-size: 50px;
            line-height: 1;
            letter-spacing: 0.02em;
            // color: #006680;
            color: #FFFFFF;
            text-align: center;

			&_small {
                font-size: 0.32em;
			}
		}

		&__text {
            font-size: 18px;
            line-height: 1.166666666666667;
            text-align: center;
            letter-spacing: 0.02em;
            // color: #7C7C7C;
            color: #B9B9B9;
            margin-top: 0.888888888888889em;
		}
}
.page-bankruptcy-results-of-work-link-more {
    position: relative;
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1.0) 0s;
    &:hover{
        opacity: 0.7;
    }
    a{
        border-radius: 100%;
        background: #F08421;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        text-align: center;
        font-weight: 600;
        font-size: 22px;
        line-height: 1.181818181818182;
        text-align: center;
        text-decoration: none;
        color: #FFFFFF;
        width: 209px;
        height: 209px;
        position: relative;
        z-index: 2;
        padding-top: 20px;
        box-sizing: border-box;
        img{
            margin-top: 10px;
            margin-left: auto;
            margin-right: auto;
        }
    }
    &::before{
        content: ' ';
        display: block;
        background: url(../images/link-more-pic.png) no-repeat center center;
        width: 394px;
        height: 259px;
        position: absolute;
        z-index: 1;
        top: -96px;
        left: 50%;
        margin-left: -197px;
    }
}



.page-bankruptcy-by-yourself {
    margin-bottom: 180px;
    .container {
        background: #FBFBFB;
        box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        box-sizing: border-box;
        padding-top: 49px;
        padding-bottom: 44px;
        padding-left: 40px;
        padding-right: 39px;
    }
}
.page-bankruptcy-by-yourself-title {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.175;
    color: #131313;
    margin-bottom: 1.325em;
}
.page-bankruptcy-by-yourself-list {
    margin-bottom: 58px;
    ul{
        list-style: none;
        li{
            font-weight: 500;
            font-size: 30px;
            line-height: 35px;
            color: #7C7C7C;
            padding-left: 52px;
            background: url(../images/bullet-no.svg) no-repeat left center;
            min-height: 29px;
            margin-bottom: 0.7333333333333333em;
        }
    }
}
.page-bankruptcy-by-yourself-we {
    background: #006680;
    border-radius: 5px;
    box-sizing: border-box;
    padding-top: 33px;
    padding-bottom: 33px;
    padding-left: 44px;
    padding-right: 44px;
    position: relative;
    &::after{
        content: ' ';
        display: block;
        width: 259px;
        height: 297px;
        background: url(../images/shield.png) no-repeat center center;
        position: absolute;
        top: -134px;
        right: 57px;
    }
		&__title {
            font-weight: 500;
            font-size: 24px;
            line-height: 1.166666666666667;
            color: #FFFFFF;
            margin-bottom: 0.625em;
		}

		&__text {
            font-weight: 500;
            font-size: 30px;
            line-height: 1.166666666666667;

            color: #FFFFFF;
        }
        
        &__button{
            position: absolute;
            top: 50px;
            right: 46px;
            z-index: 5;
        }
}



.page-bankruptcy-keys {
    margin-bottom: 180px;
    .container {
    }
}
.page-bankruptcy-keys-tabs {
}
.page-bankruptcy-keys-tabs-buttons {
    display: flex;
    // align-items: center;
    // justify-content: center;
    flex-wrap: nowrap;
    
}
.page-bankruptcy-keys-tabs-buttons-item {
    padding-top: 20px;
    padding-bottom: 19px;
    padding-left: 20px;
    padding-right: 10px;
    box-sizing: border-box;
    width: calc(100% / 3);
    background: #FFFFFF;
    border: 1px solid #D6D6D6;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1.0) 0s;

		&__num {
            font-weight: 600;
            font-size: 20px;
            line-height: 1.2;
            letter-spacing: 0.02em;
            color: #F08421;
            margin-bottom: 0.45em;
            .page-bankruptcy-keys-tabs-buttons-item_active &{
                color: #fff;
            }
		}

		&__title {
            font-size: 20px;
            line-height: 23px;
            color: #7C7C7C;
            .page-bankruptcy-keys-tabs-buttons-item_active &{
                font-weight: 600;
                color: #fff;
            }
        }
        
        &_active {
            background: #006680;
            border: 1px solid #006680;
            box-sizing: border-box;
            box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.12);
        }
}
.page-bankruptcy-keys-tabs-content {
    margin-top: 42px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}
.page-bankruptcy-keys-tabs-content-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    &_displaynone{
        display: none;
    }
		&_active {
            // display: block;
		}

		&__text {
            font-weight: 500;
            font-size: 20px;
            line-height: 1.2;
            color: #7C7C7C;
            padding-left: 42px;
            padding-top: 20px;
            padding-bottom: 20px;
            b{
                font-size: 1.1em;
            }
		}

		&__num {
            font-weight: 600;
            font-size: 200px;
            line-height: 1.195;
            letter-spacing: 0.02em;
            color: #F3F3F3;
            padding-right: 0.165em;
            box-sizing: border-box;
		}
}



.page-bankruptcy-special-conditions {
    background: #F7F7F7;
    padding-top: 65px;
    .container {
        background: url(../images/special-conditions-pic.png) no-repeat right center;
    }
}
.page-bankruptcy-special-conditions-title {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.175;
    color: #131313;
    margin-bottom: 1.55em;
}
.page-bankruptcy-special-conditions-list {
    margin-bottom: 1.041666666666667em;
    padding-bottom: 68px;

    ul{
        list-style: none;
        li{
            font-weight: 500;
            font-size: 24px;
            line-height: 1.166666666666667;
            color: #7C7C7C;

            background: url(../images/bullet-yes.svg) no-repeat left top 4px;
            padding-left: 36px;
            box-sizing: border-box;
            margin-bottom: 0.8em;
        }
    }
		&_small {
            font-size: 0.75em;
            margin-top: -5px;
		}
}

.myform{
    .input-error-red{
        border-color: red !important;
    }

    .good-mail{
        font-size: 16px;
        text-align: center;
        color: #006680;
        line-height: 1;

        .mbig{
            font-size: 1.5em;
            font-weight: bold;
            margin-bottom: 0.5em;
        }
        
        .msmall{
            font-size: 1em;
        }
    }
}













.page-bankruptcy-call-to-action {
    background: url(../images/block-last-bg.jpg) no-repeat center center;
    background-size: auto 100%;
    padding-top: 89px;
    padding-bottom: 185px;
    position: relative;

    &::after{
        content: ' ';
        display: block;
        width: 450px;
        height: 473px;
        background: url(../images/last-ava.png) no-repeat center bottom;

        position: absolute;
        left: 50%;
        bottom: 0;
        z-index: 5;
        margin-left: -225px;
    }
    
    .container {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        // flex-wrap: nowrap;
    }

    .page-bankruptcy-form-inputs{
        margin-top: 0;
        margin-right: 0;
        &::before{
            display: none;
        }
    }



}

.page-bankruptcy-call-to-action-info {

    &__title {
        font-weight: 500;
        font-size: 40px;
        line-height: 1.175;
        color: #FFFFFF;
        margin-bottom: 49px;
    }

    &__text {
        font-size: 25px;
        line-height: 1.16;
        color: #D6D6D6;
        max-width: 448px;
    }
}





