* {
    margin: 0;
    padding: 0;
    outline: none !important;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}

a, a:focus, a:hover{
    // color:#ffffff;
}

a:focus{
    text-decoration:none;
}

dl, ol, ul {
    // margin-top: 0;
    // margin-bottom: 0;
    margin: 0;
    padding: 0;
}

img{
    border: none;
    display: block;
}


.clear{
    clear: both;
}

.clearfix:before,
.clearfix:after{
    display: table;
    content: " ";
}

.clearfix:after{
    clear: both;
}